<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windy.udacity.mysunshine">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- usesCleartextTraffic 可以允许(true)或禁止(false)App明文通信，WebView不受限制 only in API 23 and higher-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ActionBar and ParentActivity-->
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.windy.udacity.mysunshine.MainActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.windy.udacity.mysunshine.MainActivity" />
        </activity>

        <!--BroadCast-->

        <!--Content Providers-->
        <!-- exported 可使 Content Provider 对第三方可用  -->
        <provider
            android:authorities="com.windy.udacity.mysunshine"
            android:name=".data.WeatherProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.app.license_to_kill"/>

        <!--Services-->
        <service android:name="com.windy.udacity.mysunshine.service.SunshineService"/>
    </application>

    <!-- 这个例子是 Content Provider 的权限控制
    <permission
        android:name="com.app.license_to_kill"
        android:protectionLevel="dangerous"
        android:label="Licensed to kill"/>
    -->
</manifest>